.App {
  text-align: center;
}
@media all and (min-width: 359px) {
  .starters {
    margin-left: -10px;
    margin-top: -120px;
  }
  .button{
    margin-left:300px;
    margin-top: -140px;
    width:80px;
  }
}



